<launch>
  <!-- Start the camera and settings -->
  <!-- <include file="$(find insta360)/launch/bringup.launch"/> -->

  <!-- Start the desired image saving node for photometric visual servoing -->  
  <node name="mppvsCaptureAndSaveDesired" pkg="ros_dvs_bridge" type="ros_dvs_bridge_mppvsCaptureAndSaveDesired"/> <!-- launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' "> -->
    <param name="cameraTopic" type="string" value="/insta360/equi/image_raw"/>
    <param name="logs" type="string" value="$(env HOME)/.ros/ros_dvs_bridge/"/>
 

</launch>