<launch>
  <!-- Start the photometric visual servoing node for a specific camera-->  
  <node name="pgmvsPGMVisualServoing" pkg="ros_dvs_bridge" type="ros_dvs_bridge_pgmvsVisualServoing" output="screen" clear_params="true"/>
  	<param name="cameraTopic" type="string" value="/insta360/right/image_raw"/> 
  	<param name="robotTopic" type="string" value="/twist_controller/command"/>
  	<param name="diffTopic" type="string" value="/pgmvs/diff_image"/>
    <param name="featuresDiffTopic" type="string" value="/pgmvs/diff_features"/>
    <param name="featuresImageTopic" type="string" value="/pgmvs/image_features"/>
    <param name="desiredFeaturesImageTopic" type="string" value="/pgmvs/desired_image_features"/>
    <param name="costTopic" type="string" value="/costTopic"/>
    <param name="velocityTopic" type="string" value="/velocityTopic"/>

    <param name="cameraType" type="int" value="0"/> <!--Change accordingly depending on FoV: Omni: 0, Persp: 1, Equirectangular: 4 -->
    <param name="cameraXml" type="string" value="$(find ros_dvs_bridge)/config/insta360_one_x2/calib_insta_right_0p08.xml"/><!--Change intrinsic xml here -->
    <param name="camera2tool" type="string" value="$(find ros_dvs_bridge)/config/insta360toTool.yml"/> <!--Change extrinsic calibration yml here-->

  	<param name="logs" type="string" value="$(env HOME)/.ros/ros_dvs_bridge/"/>


    <param name="controlInBaseFrame" type="bool" value="true"/>
    <param name="cameraPoseTopic" type="string" value="/tf"/>
    
     <!-- EVS-->  
    <param name="rosbagForEVS" type="bool" value="true"/>
    <param name="currentPoseTopicForEVS" type="string" value="/vs/camera/current_pose"/>

    
    <param name="twoStepVS" type="bool" value="false"/>
    <param name="saveExprimentData" type="bool" value="false"/>

</launch>